# Server Port (default: 5050)
PORT=5050

# MongoDB Connection String (Atlas URI or local instance)
MONGODB_KEY=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/PokemonLeague?retryWrites=true&w=majority
